@import url("https://fonts.googleapis.com/css2?family=Boldonse&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #050e2c;
  --accent-color-50: #d0dbff;
  --accent-color-100: #2752e7;
  --accent-color-200: #0b2271;
  --muted-color: rgb(137, 136, 136);
  --yellow: #f3de95;
  --pink: #f395d9;
}

/* ||GENERAL  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
}

p,
li,
button {
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
}

select {
  /* padding: 10px 5px; */
  border: none;
  margin: 0px;
}

.bg-btn {
  background: var(--accent-color-100);
  color: white;
  transition: background 1s;
}

.bg-btn:hover {
  background: var(--accent-color-200);
}

.bg-transparent {
  background: none;
}

.container {
  padding-right: 6em;
  padding-left: 6em;
}

.header-text {
  font-size: 3em;
  margin-bottom: 2rem;
}

/* ||NAVBAR  */
header {
  position: fixed;
  z-index: 10;
  background: white;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

#nav-cta {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* ||HERO  */
#hero {
  height: 100vh;
  /* padding-top: 40px; */

  /* background design - added multiple bg elements  */
  background: url("../assets/Hero/Ellipse-76.png"),
    url("../assets/Hero/Ellipse-75.png"), url("../assets/Hero/Ellipse1.png"),
    linear-gradient(0deg, var(--accent-color-100), var(--accent-color-200));

  background-repeat: no-repeat, no-repeat;
  background-position: center, center, center;

  display: flex;
  gap: 100px;
  overflow: hidden;
}

#hero-left-side {
  flex-basis: 50%;
  padding: 200px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-left-side h1 {
  color: white;
  /* translate: -1.5em 0px; */
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}

#hero-left-side p {
  color: white;
  margin-bottom: 2rem;
  translate: 0vw 0vw;
  animation-name: slide-in-from-left;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration: 1;
  opacity: 0;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

#hero-right-side {
  position: relative;
  color: white;
  /* width: 50%; */
}

#hero-right-side form {
  background: rgba(67, 74, 155, 0.8);
  padding: 50px;
  border-radius: 5px;
  width: 100%;
  position: relative;
  translate: 100vw 0px;
  animation-name: slide-in-right;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

#hero-right-side form h2 {
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: 200;
}

#hero-right-side form div {
}

.form-field-container {
  margin-bottom: 20px;
  width: 100%;
}

#hero-right-side .input-container {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 5px;
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

#hero-right-side .input-container input {
  width: 100%;
  border-radius: 0px;
}

#BitCoin {
  position: absolute;
  left: 400px;
  top: 100px;
  z-index: 0;
  animation-name: slide-in-right;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

#Ethereum {
  position: relative;
  top: 600px;
  right: 60px;
  z-index: 5;
  animation-name: slide-in-from-left;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

@keyframes slide-in-right {
  from {
    translate: 10vw 0px;
    opacity: 0;
  }
  to {
    translate: 0vw 0vw;
    opacity: 1;
  }
}

@keyframes slide-in-from-left {
  from {
    translate: -10vw 0px;
    opacity: 0;
  }
  to {
    translate: 0vw 0vw;
    opacity: 1;
  }
}

/* ||CLIENT SECTION  */
#client-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  fit-items: cover;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}

.client {
  animation-name: change-stats-section-background;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
  animation-timeline: scroll(y, root);
}

@keyframes change-stats-section-background {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* ||STATS SECTION  */
#stats-section {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid rgb(193, 192, 192);
  margin: 6em;
  border-radius: 5px;
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-timeline: view();
}

#stats-section div {
  padding: 20px;
  text-align: center;
}

#stats-section div:nth-child(2) {
  border-right: 1px solid rgb(193, 192, 192);
  border-left: 1px solid rgb(193, 192, 192);
  padding-right: 100px;
  padding-left: 100px;
}

#stats-section h1 {
  font-size: 3.5em;
  font-weight: 400;
}

#stats-section p {
  color: var(--muted-color);
}

/* ||MOST TRUSTED SECTION  */
#most-trusted-section {
  display: flex;
}

#most-trusted-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6em;
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-timeline: view();
}

#most-trusted-section > div > div:nth-child(3) {
  /* background: red; */
  border-top: 1px solid var(--muted-color);
  border-bottom: 1px solid var(--muted-color);
}

#most-trusted-section .article-container {
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
}

#most-trusted-section .article-container p {
  color: var(--muted-color);
  margin-top: 1em;
}

#most-trusted-section .article-number {
  margin-right: 2em;
  color: var(--accent-color-50);
}

/* ||FEATURE CARDS  */
#feature-cards-section {
  padding-top: 6em;
  padding-bottom: 6em;
  background: var(--accent-color-50);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 20px; */
  column-gap: 15px;
  row-gap: 10px;
}

/* first card  */
#feature-cards-section > div:nth-child(1) {
  background: var(--secondary-color);
  color: white;
  border-radius: 10px;
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 30px;
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-timeline: view();
}

#feature-cards-section > div:nth-child(1) img {
  background: white;
  width: 100%;
  border-radius: 10px;
}

#feature-cards-section > div:nth-child(1) h1 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* second card  */
#feature-cards-section > div:nth-child(2) {
  background: var(--yellow);
  border-radius: 10px;
  display: flex;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-start: 2;
  gap: 15px;
  padding: 30px;
  animation-name: slide-in-from-left;
  animation-duration: 1.5s;
  animation-timeline: view();
}

#feature-cards-section > div:nth-child(2) h1 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

#feature-cards-section > div:nth-child(2) img {
  background: white;
  border-radius: 10px;
  flex-basis: 40%;
  padding: 0px 15px;
}

/* third card  */
#feature-cards-section > div:nth-child(3) {
  background: var(--pink);
  color: white;
  border-radius: 10px;
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  grid-row-start: 2;
  grid-row-start: 3;
  gap: 15px;
  padding: 30px;
  animation-name: slide-in-right;
  animation-duration: 1.5s;
  animation-timeline: view();
}

#feature-cards-section > div:nth-child(3) h1 {
  font-size: 2em;
  margin-top: 15px;
  margin-bottom: 10px;
}

#feature-cards-section > div:nth-child(3) img {
  background: white;
  border-radius: 10px;
  flex-basis: 40%;
  padding: 0px 15px;
}

/* ||GET STARTED  */
#get-started {
  background: var(--accent-color-50);
  text-align: center;
  /* padding-top: 6em; */
  padding-bottom: 6em;
}

#get-started > p {
  margin-bottom: 2.5em;
  color: var(--muted-color);
}

#get-started-cards {
  display: flex;
  gap: 20px;
}

#get-started-cards > div {
  background: white;
  border-radius: 15px;
  padding: 50px 15px;
}

#get-started-cards > div > p {
  margin-top: 1em;
  color: var(--muted-color);
}

/* ||WHAT PEOPLE SAYING  */
#what-people-saying {
  position: relative;
  background: url("../assets/what-people-saying/bg-img.png");
  background-repeat: no-repeat;
}

#what-people-saying::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 30%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  bottom: 0px;
}

#what-people-saying h1 {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 1em;
}

#cards-container {
  /* display: grid; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: masonry; */
  /* grid-auto-rows: auto; */

  /* column-count: 4; */
  columns: 300px;
}

#cards-container article {
  border: 1px solid var(--muted-color);
  padding: 15px;
  border-radius: 15px;
  /* grid-row-end: span 10; */
  margin-bottom: 1em;
}

#cards-container article img {
  width: 15%;
  border-radius: 50%;
}

.article-profile-section {
  display: flex;
  align-tems: center;
  gap: 15px;
  margin-bottom: 1em;
}

.article-profile-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ||NEXT STEPS  */
#next-step {
  background-image: url("../assets/next-step/Ellipse 308.png"),
    url("../assets/next-step/Ellipse 307.png"),
    url("../assets/next-step/Ellipse 309.png"),
    linear-gradient(var(--accent-color-100), var(--accent-color-100));

  background-repeat: no-repeat;
  background-size: auto, 50%, auto, 100%;
  background-position-x: 0px, 130%, 70%, center;
  background-position-y: 0px, 100%, 100%, center;

  display: flex;
  padding-top: 6em;
  padding-bottom: 4em;
  margin: 7rem;
  border-radius: 15px;
}

#next-step div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

#next-step h4 {
  color: white;
}

#next-step-images {
  position: relative;
}

#btc-icon {
  position: absolute;
  bottom: 160px;
  right: -350px;
}

#Ethereum-icon {
  position: absolute;
  left: 350px;
  top: 0px;
}

#luna-icon {
  position: absolute;
  left: 200px;
  top: 70px;
}

/* ||FOOTER  */
footer {
  background: var(--accent-color-100);
  border-radius: 15px;
  padding: 6em;
  margin: 6rem;
  color: white;
}

footer li {
  list-style-type: none;
  margin-bottom: 1em;
}

footer h6 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* upper footer section  */
footer > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

/* lower footer section  */
footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
  border-top: 1px solid white;
}

/* MEDIA QURIES  */
/* tablets  */
@media (max-width: 768px) {
  /* nav  */
  #nav-links {
    display: none;
  }

  #nav-cta {
    display: none;
  }

  /* hero  */
  #hero {
    flex-direction: column;
    height: auto;
    gap: 50px;
  }

  #hero-left-side {
    padding: 200px 0px 0px 0px;
  }

  #hero-right-side {
    margin-bottom: 150px;
    margin-top: -150px;
  }

  #hero-right-side form {
    width: auto;
  }

  /* client section  */
  #client-section {
    overflow: scroll;
    gap: 50px;
  }

  /* stats section  */
  #stats-section {
    flex-direction: column;
    gap: 15px;
  }

  #stats-section div:nth-child(2) {
    border-right: none;
    border-left: none;

    border-top: 1px solid rgb(193, 192, 192);
    border-bottom: 1px solid rgb(193, 192, 192);
  }

  /* most trusted section  */
  #most-trusted-section {
    flex-direction: column;
    text-align: center;
  }

  #most-trusted-section .article-container {
    flex-direction: column;
  }

  /* features card  */
  #feature-cards-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  /* get started cards  */
  #get-started-cards {
    flex-direction: column;
  }
}
