:root {
  --primary-color: #ffffff;
  --secondary-color: #050e2c;
  --accent-color-200: #0b2271;
  --accent-color-100: #2752e7;
  --accent-color-50: #d0dbff;
  --muted-color: #626262;
  --yellow: #f3de95;
  --pink: #f395d9;
}
